<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>The best application to disover good places to eat, great restaraunts, food with high ratings, and easily place orders.</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="http://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v2.0.0.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400' rel='stylesheet' type='text/css'>    <!-- <script src="cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script> -->
     <link href="stylesheets/style.css" rel="stylesheet">
    <title></title>
</head>
<body>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#">Home</a></li>

    <li><a href="order.html">Order</a></li>
    <script>
        console.log(alert);
    </script>
</ul>

<!-----------------------HEADER SECTION ----------->
<header>
    <div class="jumbotron">
        <div class="page-header">
            <h1><%= title %> <small style="color: white"><br/><%= description %></small></h1>
        </div>

    </div>
    <div><a href="order.html"></a></div>

</header>
<!-------------------END OF HEADER SECTION------------>

<!-------------SELECT A RESTARAUNT AND MENU ITEM WILL APPEAR------------->

<div class="main-page-box">
    <div class="row">

        <!--------RESTARAUNT LIST-------->
        <script id="template" type="text/x-handlebars-template">
        <div class="restaurantList">
            {{#each restaurants}}
            <select id="restaurant">
            {{/each}}
            </select>
        </div>
        </script>

    </div>

    <!---------MENU LIST-------------->
    <div class="menuList">

        <div class="row">
            <ul id="menuItem">
             <input type="checkbox" data-value="price">
           </ul>
        </div>




    </div>
    <div class ="panel panel-info">
        <div class="price">PRICE PLACEHOLDER</div>

    </div>
</div>

<!---------------USERS INFORMATION----------->
<div role="form">
    <div class="form-group">
        <label>Email address</label>
        <input type="email" id="emailAddress" name="email"required placeholder="Email address">
    </div>
    <div class="form-group">
        <label>phone</label>
        <input type="text" id="phoneNumber" pattern="[0-9]{10}" name="phone" required placeholder="Phone Number">
    </div>
    <div class="form-group">
        <label>Special Instructions</label>
        <input type="text" id="notes" name="text" required placeholder="Less than 25 characters">
        <p class="help-block">Space is limited, be short.</p>
    </div>

    <button id="submit" type="submit" class="btn btn-default">Submit</button>
</div>

<h1>Add Restaurant</h1>

<form role="form">
    <div class="form-group">
        <label  id="resName">{{resName}}</label>
        <input type="name" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
        <label id="menuItem">{{menuItem}}</label>
        <input class="form-control" placeholder="menuItem">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>



</div>


<script src="javascripts/application.js"></script>
<!--<script src>"bootstrap.js"</script>-->

</body>

</html>
